Source: kmod-opae-fpga-driver
Section: kernel
Priority: optional
Maintainer: StarlingX Developers <starlingx-discuss@lists.starlingx.io>
Build-Depends: debhelper-compat (= 13), linux@KERNEL_TYPE@-headers-5.10.0-6@KERNEL_TYPE@-amd64, linux@KERNEL_TYPE@-kbuild-5.10, perl, openssl
Standards-Version: 4.5.1
Rules-Requires-Root: no

Package: kmod-opae-fpga-driver@KERNEL_TYPE@
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: This package provides the opae-fpga kernel module(s).
 This package provides the opae-fpga-driver kernel module(s) built
 for the Linux kernel using the amd64 processors.
