#!/usr/bin/make -f
#
# Copyright (c) 2024 Wind River Systems, Inc.
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements. The ASF licenses this
# file to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

%:
	dh $@

export DEB_BUILD_OPTIONS=noddebs
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

pkg_name=qatengine

_libdir=/usr/lib/engines-1.1
_enginelibdir=/usr/lib/$(DEB_HOST_MULTIARCH)/engines-1.1
_enginetestdir=/usr/libexec/qatengine
destdir=debian/tmp

export ICP_ROOT=/usr/src/qat
export OPENSSL_DIR=/usr

override_dh_auto_configure:
	./autogen.sh
	./configure \
        --build=$(DEB_HOST_MULTIARCH) --prefix=/usr \
        --includedir="\$${prefix}/include" --mandir="\$${prefix}/share/man" \
        --infodir="\$${prefix}/share/info" --sysconfdir=/etc --localstatedir=/var \
        --libdir="\$${prefix}/lib/$(DEB_HOST_MULTIARCH)" \
        --with-qat_hw_dir=$(ICP_ROOT) --with-openssl_install_dir=$(OPENSSL_DIR)

override_dh_auto_build:
	$(MAKE)
	$(MAKE) test

override_dh_auto_install:
	mkdir -p $(destdir)
	make install DESTDIR=$(CURDIR)$(destdir)

	dh_installdirs -p$(pkg_name) $(_enginelibdir)
	install -m 750 $(CURDIR)$(destdir)$(_libdir)/*.* debian/$(pkg_name)$(_enginelibdir)

	dh_installdirs -p$(pkg_name) $(_enginetestdir)
	install -m 750 $(CURDIR)/testapp debian/$(pkg_name)$(_enginetestdir)
	install -m 750 $(CURDIR)/testapp.sh debian/$(pkg_name)$(_enginetestdir)

override_dh_strip:
	dh_strip

override_dh_auto_test:
	true
