#!/usr/bin/make -f
#
# Copyright (c) 2021 Wind River Systems, Inc.
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements. The ASF licenses this
# file to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

%:
	dh $@

WITH_MOD_SIGN ?= 1

kheaders_name=$(shell ls /usr/src | grep linux@KERNEL_TYPE@-headers | grep amd64)
kheaders_common=$(shell ls /usr/src | grep linux@KERNEL_TYPE@-headers | grep common)
export KSRC=/usr/src/$(kheaders_name)
export KSRC_COMMON=/usr/src/$(kheaders_common)
kversion=$(shell echo $(kheaders_name) | sed 's/linux@KERNEL_TYPE@-headers-//g')
kmod_name=i40e
version=$(shell dpkg-parsechangelog | sed -n 's/^Version: *\([^-]\+\)-.\+/\1/p')

ifeq ($(WITH_MOD_SIGN),1)
pkg_name=i40e@KERNEL_TYPE@
endif
pkg_common_name=i40e-common
bundle_version=cvl-4.0.1

_sysconfdir=/etc
_defaultdocdir=/usr/share/doc
_mandir=/usr/share/man

ifeq ($(WITH_MOD_SIGN),1)
_keydir ?= /usr/src/kernels/$(kversion)/
privkey ?= $(_keydir)/signing_key.pem
pubkey ?= $(_keydir)/signing_key.x509
endif

override_dh_auto_install:
	dh_install src/$(kmod_name).ko /lib/modules/$(kversion)/weak-updates/$(kmod_name)-$(bundle_version)/
	dh_install -p$(pkg_common_name) pci.updates $(_defaultdocdir)/kmod-$(kmod_name)-$(version)/
	dh_install -p$(pkg_common_name) README $(_defaultdocdir)/kmod-$(kmod_name)-$(version)/
	dh_install -p$(pkg_common_name) $(kmod_name).7 $(_mandir)/man7/
	dh_install -p$(pkg_common_name) debian/extra/i40e.conf $(_sysconfdir)/modules-load.d/

override_dh_strip:
	dh_strip
	find debian -name '*.ko' | xargs strip -g
ifeq ($(WITH_MOD_SIGN),1)
	@echo "Sign the modules!"
	/usr/lib/linux@KERNEL_TYPE@-kbuild-*/scripts/sign-file sha256 $(privkey) $(pubkey) \
		./debian/$(pkg_name)/lib/modules/$(kversion)/weak-updates/$(kmod_name)-$(bundle_version)/$(kmod_name).ko
endif

override_dh_auto_build:
	dh_auto_build -D ./src
