#!/usr/bin/make -f
#
# Copyright (c) 2021 Wind River Systems, Inc.
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements. The ASF licenses this
# file to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

%:
	dh $@

WITH_MOD_SIGN ?= 0

kheaders_name=$(shell ls /usr/src | grep linux@KERNEL_TYPE@-headers | grep amd64)
export KERNEL_SOURCE_ROOT=/usr/src/$(kheaders_name)
kernel_version=$(shell echo $(kheaders_name) | sed 's/linux@KERNEL_TYPE@-headers-//g')
pkg_name=qat1.7.l@KERNEL_TYPE@

qat_src_dir=./
_sysconfdir=/etc/
_sbindir=/usr/sbin
_libdir=/usr/lib64
buildroot=./debian/$(pkg_name)/

ifeq ($(WITH_MOD_SIGN),1)
_keydir ?= /usr/src/kernels/$(kernel_version)/
privkey ?= $(_keydir)/signing_key.priv
pubkey ?= $(_keydir)/signing_key.x509
endif

override_dh_auto_configure:
	./configure --enable-icp-sriov=host

override_dh_auto_build:
	make
	make sample-all

override_dh_auto_install:
	dh_installdirs -p$(pkg_name) $(_sysconfdir)/default
	install -m 750 ./debian/extra/qat $(buildroot)/$(_sysconfdir)/default

	dh_installdirs -p$(pkg_name) $(_sysconfdir)/qat/conf_files
	install -m 640 $(qat_src_dir)/build/*.conf $(buildroot)$(_sysconfdir)/qat/conf_files
	install -m 640 $(qat_src_dir)/build/*.vm $(buildroot)$(_sysconfdir)/qat/conf_files

	dh_installdirs -p$(pkg_name) $(_sbindir)
	install -m 750 $(qat_src_dir)/build/adf_ctl $(buildroot)$(_sbindir)

	dh_installdirs -p$(pkg_name) $(_sysconfdir)/init.d/
	install -m 750 ./debian/extra/qat_service $(buildroot)$(_sysconfdir)/init.d/

	dh_installdirs -p$(pkg_name) $(_libdir)
	install -m 750 $(qat_src_dir)/build/*.so $(buildroot)$(_libdir)

	dh_installdirs -p$(pkg_name) lib/modules/$(kernel_version)/kernel/drivers/crypto/qat/
	install -m 750 $(qat_src_dir)/build/*qat*.ko $(buildroot)/lib/modules/$(kernel_version)/kernel/drivers/crypto/qat/
	install -m 750 $(qat_src_dir)/build/usdm_drv.ko $(buildroot)/lib/modules/$(kernel_version)/kernel/drivers/crypto/qat

	# intel test sample
	dh_installdirs -p$(pkg_name) usr/lib/firmware
	install -m 750 $(qat_src_dir)/quickassist/lookaside/access_layer/src/sample_code/build/cpa_sample_code $(buildroot)$(_sbindir)/
	install -m 640 $(qat_src_dir)/quickassist/lookaside/access_layer/src/sample_code/performance/compression/calgary $(buildroot)/usr/lib/firmware
	install -m 640 $(qat_src_dir)/quickassist/lookaside/access_layer/src/sample_code/performance/compression/calgary32 $(buildroot)/usr/lib/firmware
	install -m 640 $(qat_src_dir)/quickassist/lookaside/access_layer/src/sample_code/performance/compression/canterbury $(buildroot)/usr/lib/firmware

	# device firmware
	# install to the updates directory so this firmware will get grabbed ahead of
	# anything supplied by the linux-firmware package
	dh_installdirs -p$(pkg_name) usr/lib/firmware/updates
	install -m 640 $(qat_src_dir)/build/*.bin $(buildroot)/usr/lib/firmware/updates

override_dh_strip:
	dh_strip
	find debian -name '*.ko' | xargs strip -g
ifeq ($(WITH_MOD_SIGN),1)
	@echo "Sign the modules!"
	./debian/sign_modules $(buildroot) $(privkey) $(pubkey)
endif
