Source: bnxt-en
Section: net
Priority: optional
Maintainer: StarlingX Developers <starlingx-discuss@lists.starlingx.io>
Build-Depends: debhelper-compat (= 13), linux@KERNEL_TYPE@-headers-stx-amd64, linux@KERNEL_TYPE@-keys, mlnx-ofed-kernel-dev
Standards-Version: 4.5.1
Rules-Requires-Root: no

Package: bnxt-en@KERNEL_TYPE@
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, bnxt-en-common
Description: This package provides the bnxt_en and bnxt_re kernel modules.
 This package provides the bnxt_en and bnxt_re kernel modules built
 for the Linux kernel using the amd64 processors.

Package: bnxt-en-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: This package provides the common files of the bnxt_en and bnxt_re kernel modules.
 This package provides the common files of the bnxt_en and bnxt_re kernel modules built
 for the Linux kernel-std and kernel-rt using the amd64 processors.
